html {
  box-sizing: border-box;
  color: rgb(9, 30, 66);
  background-color: #ebecf0;
  /* background-color: #ced4da; */
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  height: 100%;
}
